
/* ScrollBar */

  /* This styles the scrollbar track */
  ::-webkit-scrollbar {
    width: 9px; /* Adjust the width of the scrollbar */
    background-color: rgba(0,0,0,0.1); /* Optional: Style the background of the track */
  }

  /* This styles the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      transparent,
      #242323 25%,
      #242323 75%,
      transparent
    ); /* Gradient makes ends transparent */
    border-radius: 5px;
    border: 2px solid transparent; /* Makes the thumb smaller but transparent part preserves space */
    background-clip: content-box; /* Ensures the background only applies to the content area */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      transparent,
      #555 25%,
      #555 75%,
      transparent
    );
  }

/* Text */

  .text-custom-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
